<!-- Product Details Area Start -->
<div class="single-product-area section-padding-100 clearfix ml-5">
    <h3 class="mb-5 ml-5">INSERT PRODUCT</h3>
    <form>
        <div class="row mb-3">
            <div class="col-2 text-right pt-3">
                <label for="name">Product name</label>
            </div>
            <div class="col-6">
                <input id="name" type="text" class="form-control" placeholder="">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-2 text-right pt-3">
                <label for="price">Price</label>
            </div>
            <div class="col-6">
                <input id="price" type="text" class="form-control" placeholder="">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-2 text-right pt-3">
                <label for="author">Author</label>
            </div>
            <div class="col-6">
                <input id="author" type="text" class="form-control" placeholder="">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-2 text-right pt-3">
                <label for="year">Public Year</label>
            </div>
            <div class="col-6">
                <input id="year" type="text" class="form-control" placeholder="">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-2 text-right pt-3">
                <label for="genre">Genre</label>
            </div>
            <div class="col-6">
                <input id="Genre" type="text" class="form-control" placeholder="">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-2 text-right pt-3">
                <label for="img1">Img 1</label>
            </div>
            <div class="col-6">
                <input id="img1" type="text" class="form-control" placeholder="">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-2 text-right pt-3">
                <label for="img2">Img 2</label>
            </div>
            <div class="col-6">
                <input id="img2" type="text" class="form-control" placeholder="">
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-2 text-right pt-3">
                <label for="img3">Img 3</label>
            </div>
            <div class="col-6">
                <input id="img3" type="text" class="form-control" placeholder="">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-5 text-right">
                <a href="/admin"><button type="button" class="btn btn-light ">Cancel</button></a>
            </div>
            <div class="col-4 text-left">
                <button id="submit" type="submit" class="btn btn-warning ">Submit</button>
            </div>
        </div>
    </form>
</div>
{{!-- <script>
    function sendToServer(){

    }
</script> --}}
<!-- Product Details Area End -->
<!-- ##### Main Content Wrapper End ##### -->
</div>