<div class="amado_product_area section-padding-100">
    <div class="container-fluid">
        <div class="row mt-5 ml-5">
            <div class="col-7">
                <h2 class="mb-3">Error</h2>
                <h4 class="mb-5">You do not have permission to access this page!!!!</h4>
                <div class="d-flex flex-row-reverse">
                    <a href="/"><button type="button" class="btn btn-warning btn-lg">OK</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>