<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <h3 class="mb-5 ml-5">Profile</h3>
    </div>
    <div class="row">
        <div class="col-12">
            <form method="post" action="/user">
                <div class="row mb-3">
                    <div class="col-2 text-right pt-3">
                        <label for="name">Name</label>
                    </div>
                    <div class="col-6">
                        <input id="name" name="name" type="text" class="form-control" placeholder="" 
                            minlength="1" maxlength="100">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-2 text-right pt-3">
                        <label for="age">Age</label>
                    </div>
                    <div class="col-6">
                        <input id="age" name="age" type="number" class="form-control" placeholder=""
                            min="1" max="100">
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-2 text-right pt-3">
                        <label for="email">Email</label>
                    </div>
                    <div class="col-6">
                        <input id="email" name="" type="email" class="form-control" placeholder="" required
                            minlength="1" maxlength="100" disabled>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-2 text-right pt-3">
                        <label for="phone">Phone</label>
                    </div>
                    <div class="col-6">
                        <input id="phone" name="phone" type="text" class="form-control" placeholder="" 
                            minlength="1" maxlength="11">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-2 text-right pt-3">
                        <label for="name">Address</label>
                    </div>
                    <div class="col-6">
                        <input id="address" name="address" type="text" class="form-control" placeholder="" 
                            minlength="1" maxlength="500">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-8 text-center">
                        <button id="update" type="submit" class="btn btn-warning">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
{{#contentFor "script"}}
<script>
    $(function () {
        $.getJSON('/user/api/get-profile', function (res) {
            console.log(res);
            $('#email').val('{{ email }}');
            if (res!=false) {
                $('#name').val(res.name);
                $('#phone').val(res.phone);
                $('#address').val(res.address);
                $('#age').val(res.age);
            }
        });
    });

</script>
{{/contentFor}}
</div>