

        <!-- Product Catagories Area Start -->
        <div class="products-catagories-area clearfix">
            <div class="amado-pro-catagory clearfix">
                {{#products}}
                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <a href="/shop/product/{{_id}}">
                        <img src={{image1}} alt="">
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            <p>{{price}}</p>
                            <h4>{{name}}</h4>
                        </div>
                    </a>
                </div>

               
                {{/products}}
            </div>
        </div>
        <!-- Product Catagories Area End -->
    </div>
    <!-- ##### Main Content Wrapper End ##### -->

